body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/lake_blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    background: white;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.formulario .input-group {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.formulario .input-group input {
    width: 100%;
    padding: 20px 5px 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.formulario .input-group label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s;
}

.formulario .input-group input:focus+label,
.formulario .input-group input:valid+label {
    top: -10px;
    font-size: 12px;
    color: #6C3483;
}

.formulario .recordar {
    margin: 10px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.formulario .recordar:hover {
    text-decoration: underline;
}

.formulario input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6c3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario input[type="submit"]:hover {
    border-color: purple;
    transition: 0.5s;
}

/* Estilo para las etiquetas y transiciones */
.formulario .input-group label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s;
}

/* Estilo para los campos de entrada */
.formulario .input-group input {
    width: 100%;
    padding: 20px 5px 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/* Estilo cuando el campo de entrada está enfocado */
.formulario .input-group input:focus+label,
.formulario .input-group input:valid+label {
    top: -10px;
    font-size: 12px;
    color: #6C3483;
}

.logo_ubb {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo del contenido del modal con bordes curvos */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    /* Bordes curvos */
    width: 80%;
    text-align: center;
    /* Centra el contenido */
}

/* Estilo del botón de cierre */
.close {
    display: inline-block;
    margin-top: 10px;
    /* Espaciado desde el texto */
    padding: 10px 15px;
    background-color: #6c3483;
    color: white;
    border: none;
    border-radius: 5px;
    /* Bordes curvos */
    cursor: pointer;
}